html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 300;
}
.credit {
  position: absolute;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
  min-height: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
}
.credit h1 {
  -webkit-transform: translate3d(0, 30px, 1px);
  -moz-transform: translate3d(0, 30px, 1px);
  -o-transform: translate3d(0, 30px, 1px);
  -ms-transform: translate3d(0, 30px, 1px);
  transform: translate3d(0, 30px, 1px);
  font-size: 60px;
  height: 70px;
  width: 400px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition-properties: opacity transform;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.credit h2 {
  -webkit-transform: translate3d(0, 30px, 1px);
  -moz-transform: translate3d(0, 30px, 1px);
  -o-transform: translate3d(0, 30px, 1px);
  -ms-transform: translate3d(0, 30px, 1px);
  transform: translate3d(0, 30px, 1px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  font-size: 20px;
  height: 70px;
  width: 400px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition-properties: opacity transform;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.credit p {
  -webkit-transform: translate3d(0, 30px, 1px);
  -moz-transform: translate3d(0, 30px, 1px);
  -o-transform: translate3d(0, 30px, 1px);
  -ms-transform: translate3d(0, 30px, 1px);
  transform: translate3d(0, 30px, 1px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-align: justify;
  font-size: 12px;
  height: 80px;
  width: 400px;
  position: absolute;
  line-height: 18px;
  bottom: 100px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition-properties: opacity transform;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.credit p span {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.credit.activate {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.credit.activate h1,
.credit.activate h2,
.credit.activate p {
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
